html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}




body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #f3772e;
  background-color: #030521;
}

.boxes{
  display: flex;
  flex-direction: row;
justify-content: space-between;
 padding: 5px;
margin: 30px 30px;
}

.image{
  width: 200px; 
  border-radius: 30px;
  opacity: 1;

}

.image:hover{
  opacity: 0.3;
  transition: 0.5s;
} 

.ver-mas{
color: #f3772e;
margin: 30px 600px;
font-size: 16px;
font-weight: bold;
}
/*HOME HEADER */

.home-header{
  background-image: url(assets/batman.jpg)
}

/* FOOTER */

.footer {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
}
footer nav{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  clear: both;
}

footer .end-line{
  display: none;
}


/* ME FALTA H4 y P */
/*FALTA CLASE DEL all */



/* VER EL ICONO DE LA FLECHA QUE QUEDO PEGADO */
 a {
  text-decoration: none;
  list-style: none;
  color: grey;
  font-size: 10px;
  display: block;
  margin-left: 15px;
}
a:hover {
  color: white;
}

/* PLACEHOLDER */
body header div input.entry {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  text-indent: 16px;
  margin: 0;
  outline: none;
  border: none;
}
body header div input.entry:focus {
  color: #fff;
}
body header div input.entry::placeholder {
  color: #fff !important;
}



/* SIDEBAR  NAVEGADOR */

.nav {
  position: fixed;
  width: 95px;
  height: 100vh;
  z-index: 999;
}

.nav .nav_logo {
   background-color: #081c24;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .nav_logo img{
  width: 35px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: fixed;
  height: 100%;
  
}

li a {
  display: block;
  color: #f3772e;
  width: 60px;
  padding: 8px 16px;


}

.sideBarItem--active {
  background-color: #030521;
   color: #fff;

}

/* INPUT SEARCH */

.main-header{
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 75px;
  margin-left: 95px;
}

.main-header .searchBar{
  position: relative;
  height: 100%;
  background-color: #ffffff;
}

.searchBar input { 
  display: block;
  width: 100%;
  padding: 15px 20px 15px 45px;
  outline: none;
  border: 0;
  background-color: transparent;
  color: #081c24;
  font-weight: 300;
  font-size: 16px;

}



/* SECTIONS */
.main{
  display: ;
  margin: 0 0 0 95px;
  padding: 75px 0 0 0; 
}


.main--active {
  display: block;

}

.animal {
  width: 25%;
  padding: 25px;
  background-color: red;
  color: white;
  font-size: 25px;
}

.pequenio {
  width: 15%;
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 15px;
}
