body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #f3772e;
  background-color: #030521;
}

.boxes{
  display: flex;
  flex-direction: row;
justify-content: space-between;
 padding: 5px;
margin: 30px 30px;
}

.image{
  width: 200px; 
  border-radius: 30px;
  opacity: 1;

}

.image:hover{
  opacity: 0.3;
  transition: 0.5s;
} 

.ver-mas{
color: #f3772e;
margin: 30px 600px;
font-size: 16px;
font-weight: bold;
}
/*HOME HEADER */

.home-header{
  background-image: url(assets/batman.jpg)
}

/* FOOTER */

.footer {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
}
footer nav{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  clear: both;
}

footer .end-line{
  display: none;
}


/* ME FALTA H4 y P */
/*FALTA CLASE DEL all */



/* VER EL ICONO DE LA FLECHA QUE QUEDO PEGADO */
 a {
  text-decoration: none;
  list-style: none;
  color: grey;
  font-size: 10px;
  display: block;
  margin-left: 15px;
}
a:hover {
  color: white;
}

/* PLACEHOLDER */
body header div input.entry {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  text-indent: 16px;
  margin: 0;
  outline: none;
  border: none;
}
body header div input.entry:focus {
  color: #fff;
}
body header div input.entry::placeholder {
  color: #fff !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: fixed;
  height: 100%;
  
}

li a {
  display: block;
  color: #f3772e;
  width: 60px;
  padding: 8px 16px;


}


