body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background: rgb(33,136,113);
  background: radial-gradient(circle, rgba(33,136,113,1) 0%, rgba(16,11,96,1) 99%);
}

.mainBanner{
  background-image: url("images/imagengrande.jpg"); /* cambie la ubicacion */
  height: 500px; /* no es el height verdadero de la imagen */
  background-position: center;
  background-size: cover;
  position: relative;
}

.boxes{
  display: flex;
  flex-direction: row;
justify-content: space-between;
 padding: 5px;
margin: 30px 30px;
}

.image{
  width: 200px; 
  border-radius: 30px;
  opacity: 1;

}

.image:hover{
  opacity: 0.3;
  transition: 0.5s;
} 

.ver-mas{
  color: rgb(199, 199, 199);
margin: 30px 600px;
font-size: 20px;
font-weight: bold;
}

/* FOOTER */

.footer {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
}
footer nav{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  clear: both;
}

footer .end-line{
  display: none;
}

.all{
  display: flex;
  flex-direction: row;
justify-content: space-between;
 padding: 5px;
margin: 30px 30px;
font-size: 15px;
}
/* VER EL ICONO DE LA FLECHA QUE QUEDO PEGADO */



/* ME FALTA H4 y P */





 a {
  text-decoration: none;
  list-style: none;
  color: rgb(199, 199, 199);
  font-size: 10px;
  display: block;
  margin-left: 15px;
}
a:hover {
  color: white;
}

/* PLACEHOLDER */
body header div input.entry {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  text-indent: 16px;
  margin: 0;
  outline: none;
  border: none;
}
body header div input.entry:focus {
  color: #fff;
}
body header div input.entry::placeholder {
  color: #fff !important;
}

