html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #081c24;
}
  
.mainBanner{
    position:relative;
    display: block;
    margin: 0px 110px 0px 110px;
    height: 530px;
} 
  
  /* BAJAR LA IMAGEN DE HOME */
@media only screen and (max-width: 500px){
    .mainBanner{
        margin: 0px 10px 10px 10px;
        height: 200px;
    }
}
  
.movies-list{
    padding: 20px 10px 15px 115px;
}
@media only screen and (max-width: 500px){
    .movies-list{
        padding: 10px 0px 8px 109px;
    }
}
  
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 10px 3px;
}
  
.modalContainer{
    flex-direction: row;
    justify-content: space-between;
    padding: 0px -3px 0px 5px;
}
  
.image{
    width: 200px; 
    border-radius: 30px;
    opacity: 1;
}
  
.image:hover{
    opacity: 0.3;
    transition: 0.5s;
} 
  
@media only screen and (max-width: 500px){
    .image{
        width: 160px;
        justify-content: space-between;
    }
}
  
.ver-mas{
    color: #797979;
    margin: 40px 0px 0px 650px;
    font-size: 20px;
    font-weight: bold;
}
  
.main-header{
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 75px;
    margin-left: 106px;
}
  
.main-header .searchBar{
    position: relative;
    height: 100%;
    background-color: #ffffff;
}
  
.searchBar input { 
    display: block;
    width: 100%;
    padding: 30px 60px 15px 45px;
    outline: none;
    border: 0;
    background-color: transparent;
    color: #081c24;
    font-weight: 300;
    font-size: 16px;
}
  
.searchBar .search{
    height: 15px;
    width: 15px;
    padding: 5px 40px 80px 45px;
}
  
.results{
    box-shadow: 0 0 6px 0 #00000066;
    font-size: 70px;
    background-color:#081c24;
}
  
.imagetitle{
    color: #ffffff;
    margin: 5px 0px;
    font-size: 10px;
    text-align: center;
}
  
.litImage{
    height: 30px;
    width: 30px;
    margin-left: -1px;
}
  
.nav_link-title{
    color: #918f8f;
    margin-left: 2px;
    font-size: 10px;

}
  
.all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 30px 30px;
    font-size: 15px;
}

a {
  text-decoration: none;
  list-style: none;
  color: #c7c7c7;
  font-size: 10px;
  display: block;
  margin-left: 15px;
}

a:hover {
  color: #ffffff;
}

.footer {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
}

.footer nav{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
   clear: both;
}
@media only screen and (max-width: 500px){
  .footer nav{
      display: none;
  }
}

footer .end-line{
  display: none;
}

.nav {
  position: fixed;
  width: 100px;
  height: 100vh;
  z-index: 999;
}

.nav .nav_logo {
  background-color: #081c24;
  height: 60px;
  width: 100px;
  display: flex;
  margin-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: fixed;
  height: 100%;
}

li a {
  display: block;
  color: #f3772e;
  width: 60px;
  padding: 8px 16px;
}


/* nav menu dinamico */
.app {
  position: relative; }

.sideBar {
  position: relative;
  top: 1 px;
  background: #fff;
  border-right: none;
  z-index: 0px; }
  .sideBar .nav_link {
    position: relative;

    z-index: 0; }
    .sideBar .nav_link.active {
      background: #081c24;
      z-index: 20; }

.categories {
  position: relative;
  z-index: 10; }
  .categories_item {
    position: absolute;
    left: 1000%; }
    .categories_item.active {
      z-index: 20;
      position: relative;
      left: 0%; }

/* termina nav menu dinamico */
/* MODAL */
.flex {
  width: 100%;
  height: 100%;
  /* TEXTO Y X */
  justify-content: space-between;
  align-items: center; }

  .text h4 {
    color: #8185c2;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 40px 3px 110px; 
}

.text h5 {
    color: #8185c2;
    font-size: 20px;
    padding: 10px 40px 3px 110px; 
}

.modal {
  display: none;
  /* SE COMENTA display:none; PARA VER EL MODAL; TIENE QUE FUNCIONAR PRESIONANDO LAS IMAGENES Y SIN COMENTARLO */
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 90px;
  width: 100%;
  height: 100%;
  background: #00000073; 
/* float: center;
    clear: both; */
}

.contenido-modal {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 40%;
  /* ESTA PARTE ENSANCHA ELMDOAL */
  box-shadow: 0 0 6px 0 #00000066;
  animation-name: modal;
  animation-duration: 1s;
  padding: 3px 3px; }

/* ANIMACION */
@keyframes modal {
  from {
    top: -330px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }


.close {
  color: #635d5d;
  font-size: 25px;
  font-weight: bold;
  padding: 0px 0px 0px 500px;
cursor: pointer;
 }

.modal-header, .foo {
  padding: 7px 0px;
  background: #34495e;
  color: #f2f2f2; }

p {
  text-align: justify;
  color: #030521; }

h3, h4 {
  text-align: justify;
  color: #030521;
  font-weight: bold; }


/* INTERNO PARA QUE QUEDEN BIEN LAS LETRAS */
.modal-body {
  padding: 20px 0px 5px 50px; }

.imageModal {
  padding: 10px 40px 3px 190px;
  width: 150px;
  border-radius: 30px;
  opacity: 1; }

/*# sourceMappingURL=trabajo4.css.map */
