html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background: rgb(33,136,113);
  background: radial-gradient(circle, rgba(33,136,113,1) 0%, rgba(16,11,96,1) 99%);
}

.mainBanner{
 position:relative;
 display: block;
 margin: 0px 110px 0px 110px;
 height: 530px;
} 

.movies-list{
  padding: 20px 10px 15px 115px;
}

.boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 30px 30px;
}

.boxes a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 30px 30px;
}

/* PARTE DOS */
/* .boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 10px 15px 115px;
} */

.image{
  width: 200px; 
  border-radius: 30px;
  opacity: 1;
}

.image:hover{
  opacity: 0.3;
  transition: 0.5s;
} 

.ver-mas{
  color: rgb(199, 199, 199);
  margin: 40px 0px 0px 650px;
  font-size: 20px;
  font-weight: bold;
}
/*HOME HEADER */

.home-header{
  background-image: url(assets/batman.jpg)
}

.main-header{
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 75px;
  margin-left: 106px;
}

.main-header .searchBar{
  position: relative;
  height: 100%;
  background-color: #ffffff;
}

.searchBar input { 
  display: block;
  width: 100%;
  padding: 30px 60px 15px 45px;
  outline: none;
  border: 0;
  background-color: transparent;
  color: #081c24;
  font-weight: 300;
  font-size: 16px;
}

.searchBar .search{
  height: 15px;
  width: 15px;
  padding: 5px 40px 80px 45px;
}

.litImage{
  height: 35px;
  width: 35px;
  margin-left: 5px;
}

.nav_link-title{
  color: rgb(199, 199, 199);
  margin-left: 2px;
  font-size: 10px;
}

.all{
  display: flex;
  flex-direction: row;
justify-content: space-between;
 padding: 5px;
margin: 30px 30px;
font-size: 15px;
}

a {
  text-decoration: none;
  list-style: none;
  color: rgb(199, 199, 199);
  font-size: 10px;
  display: block;
  margin-left: 15px;
}
a:hover {
  color: white;
}

.footer {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
}

footer nav{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  clear: both;
}

footer .end-line{
  display: none;
}

.nav {
  position: fixed;
  width: 95px;
  height: 100vh;
  z-index: 999;
}

.nav .nav_logo {
  background-color: #081c24;
  height: 75px;
  width: 150px;
  display: flex;
  margin-left: -2px;
}

.nav .nav_logo img{
  width: 50px;
  margin-left: 27px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: fixed;
  height: 100%;
}

li a {
  display: block;
  color: #f3772e;
  width: 60px;
  padding: 8px 16px;
}

.sideBarItem--active {
  background-color: #030521;
  color: #fff;
}

<<<<<<< HEAD
/* INPUT SEARCH */

.resultName {
  display:block;
  background-color: #b0b9bd;
  color: #081c24; 
}
.show {display: block;}



/* SECTIONS */
=======
>>>>>>> 69a1d2f1ef41ade299543943564ae67a8c8d3772
.main{
  margin: 0 0 0 95px;
  padding: 75px 0 0 0; 
}

.main--active {
  display: block;
}

/* MODAL */
.flex{
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

h1{
  color:#030521;
  font-weight:bold;
  font-size:40px;
  margin-bottom:20px;
}

.modal{
  display:none; 
  /* SE COMENTA display:none; PARA VER EL MODAL; TIENE QUE FUNCIONAR PRESIONANDO LAS IMAGENES Y SIN COMENTARLO */
  position:fixed;
  z-index:1;
  overflow:auto;
  left:0;
  top:70px;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.452);
}

.contenido-modal{
  position:relative;
  background-color:#fefefe;
  margin:auto;
  width:30%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
  animation-name:modal;
  animation-duration:1s;
}
/* ANIMACION */
@keyframes modal{
  from{top:-330px; opacity:0;}
  to{top:0; opacity:1;}
}

.close{
  color: #f2f2f2;
  font-size:30px;
  font-weight:bold;
  padding: 0px 100px 250px 70px;
}

.close:hover{
  color: #7f8c8d;
  text-decoration:none;
  cursor: pointer;
}

.modal-header, .foo{
padding:7px 0px;
background: #34495e;
color: #f2f2f2;
}

p{
  text-align: justify;
  color:#030521;
}

h3,h4{
  text-align: justify;
  color:#030521;
  font-weight:bold;
}

.modal-body{
  padding: 55px 3px;
}

.imageModal{
  width: 200px; 
  border-radius: 30px;
  opacity: 1;
}
